
.card-holder{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem; */
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
.title h2 {
    text-align: center;
    font-size: 35px;
}
.title p{
    text-align: center;
}
.card.about__card{
    text-align: center;
    padding: 1rem;
    border-radius: var(--border-radius-3);
    background:#162523 ;
}
.icon1{color:rgb(115, 151, 6)}
.icon2{color:rgb(255, 127, 221)}
.icon3{color:rgb(255, 240, 127)}

.about__card-icon{
    font-size: 4rem;
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    align-items: center;
    transition: var(--transition);
    border-radius: var(--border-radius-3);
    background: #203733;
}

.card.about__card h5{
    margin: 0.5rem 0;
    font-size: 1rem;
}
.about__right p{
    margin-bottom: 0.8rem;
} 

/* MEDIA QUERY TABLET */
@media screen and (max-width:1024px){
    .card-holder{
        grid-template-columns: 1fr 1fr; 
        gap: 1rem;
     }
  
 
    .about__right h2{
        text-align: center;
    }
}
/* MEDIA QUERY PHONE  */
@media screen and (max-width:600px){
    .card-holder{
       grid-template-columns: 1fr; 
       gap: 1rem;
    }
    .about__right .btn{
        margin-top: 2rem;
    }
}